.gitlab/
.git/
/__pycache__/
/.idea
postman/
node_modules/
vendor/
bin/
build/logs/*
storage/data/attachments/*
storage/data/elasticsearch/*
storage/data/email/*
storage/data/events/*
storage/data/mongodb/*
storage/data/mysql/*
storage/data/rabbitmq/*
storage/data/sqlite3/*
storage/logs/*
storage/mysql/*
storage/nginx/*
storage/composer/*
storage/npm/*
docs/
open_api_specifications/
config_examples/